# Before to start Emacs from the shell, enter this directory with cd(1) which will activate automatically
# Python virtual environment due to .envrc:

#export LC_ALL=C
export GNUPLOT_WARNINGS=0
# XXX Env. var name matters:
#export VIRTUAL_ENV=./.venv
#test -f "$VIRTUAL_ENV/bin/activate" && source "$VIRTUAL_ENV/bin/activate" && echo "ACTIVATED VENV"
source .venv/bin/activate





